<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/web/download/app.css?v=2">
	<script src="https://telegram.org/js/telegram-web-app.js" defer></script>
	<script>window.payload={{payload|tojson}};</script>
	<script src="/web/download/app.js?v=7" defer></script>
</head>
<body>
	{% if not payload %}
	<h2>Ошибка расшифровки запроса</h2>
	{% else %}
	<form id="download_config">
		{% if named_formats %}
		<div class="form-row select">
			<select class="input" id="format" name="format">
				{% for k,v in named_formats.items() %}
				<option value="{{k}}" {% if payload['format']==k %}selected{% endif %}>{{v}}</option>
				{% endfor %}
			</select>
			<label for="format" class="label">Формат</label>
		</div>
		{% endif %}
		{% if ( ( 'use_auth' in payload ) and payload['use_auth'] ) %}
		<div class="form-row select">
			<select class="input" id="auth" name="auth">
				{% for k,v in payload['use_auth'].items() %}
				<option value="{{k}}">{{v}}</option>
				{% endfor %}
			</select>
			<label for="auth" class="label">Авторизация</label>
		</div>
		{% endif %}
		{% if ( ( 'use_paging' in payload ) and payload['use_paging'] ) %}
		<div class="form-row">
			<input class="input" type="number" id="start" name="start" inputmode="numeric" placeholder=" ">
			<label for="start" class="label">Скачивать с главы</label>
			<p class="form-row-description"><em>Порядковый номер главы, оставьте пустым если качаете всю книгу</em></p>
		</div>
		{#  #}
		<div class="form-row">
			<input class="input" type="number" id="end" name="end" inputmode="numeric" placeholder=" ">
			<label for="end" class="label">Скачивать до главы</label>
			<p class="form-row-description"><em>Порядковый номер главы, оставьте пустым если качаете всю книгу</em></p>
		</div>
		{% endif %}
		{% if ( ( 'use_images' in payload ) and payload['use_images'] ) %}
		<div class="form-row checkbox">
			<label class="switch">
				<input class="input" type="checkbox" id="images" value="1" name="images" {% if payload['images'] %}checked{% endif %} placeholder=" ">
				<div class="slider"></div>
			</label>
			<label for="images" class="label">Скачивать картинки</label>
		</div>
		{% endif %}
		{% if ( ( 'use_cover' in payload ) and payload['use_cover'] ) %}
		<div class="form-row checkbox">
			<label class="switch">
				<input class="input" type="checkbox" id="cover" value="1" name="cover" {% if payload['cover'] %}checked{% endif %} placeholder=" ">
				<div class="slider"></div>
			</label>
			<label for="cover" class="label">Скачивать обложку</label>
		</div>
		{% endif %}
		<div class="settings-item-description">
			<hr>
			<h3>Маленький FAQ</h3>
			<details>
				<summary>Хочу скачать часть глав</summary>
				<h4><em>ПОСЛЕДНИЕ</em> N глав</h4>
				<p>Поле <code>Скачивать c главы</code> - введите значение <code>-N</code> (с "-" в начале)</p>
				<p>Поле <code>Скачивать до главы</code> - оставьте ПУСТЫМ</p>
				<small>Например, скачать последние 30 глав <code>Скачивать c главы = -30</code></small>
				<hr>
				<h4><em>ПЕРВЫЕ</em> N глав</h4>
				<p>Поле <code>Скачивать с главы</code> - оставьте ПУСТЫМ</p>
				<p>Поле <code>Скачивать до главы</code> - введите значение <code>N</code></p>
				<small>Например, скачать первые 30 глав <code>Скачивать до главы = 30</code></small>
				<hr>
				<h4>Главы начиная с N</h4>
				<p>Поле <code>Скачивать с главы</code> - введите значение <code>N</code></p>
				<small>Например, скачать начиная с 30 главы <code>Скачивать с главы = 30</code></small>
				<hr>
				<h4>Главы заканчивая N</h4>
				<p>Поле <code>Скачивать до главы</code> - введите значение <code>N</code></p>
				<small>Например, скачать до 30 главы <code>Скачивать до главы = 30</code></small>
				<hr>
				<h4>Главы заканчивая N с конца</h4>
				<p>Поле <code>Скачивать до главы</code> - введите значение <code>-N</code> (с "-" в начале)</p>
				<small>Например, скачать до 30 главы с конца <code>Скачивать до главы = -30</code></small>
				<hr>
				<h4>Главы с N до Y</h4>
				<p>Поле <code>Скачивать с главы</code> - введите значение <code>N</code></p>
				<p>Поле <code>Скачивать до главы</code> - введите значение <code>Y</code></p>
				<small>Например, скачать до с 5 по 30 главы <code>Скачивать с главы = 5</code> и <code>Скачивать до главы = 30</code></small>
			</details>
			<br>
			<details>
				<summary>Что такое ПОРЯДКОВЫЙ номер</summary>
				<table>
					<thead>
						<tr>
							<th><em>Порядковый номер</em></th>
							<th><em>Текст</em></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Пролог</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Глава 1</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Глава 1.1</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Глава 2</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Глава 2.1</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Глава 2.2</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Глава 3</td>
						</tr>
						<tr>
							<td>8</td>
							<td>3.1</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Бонусная глава</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Эпилог</td>
						</tr>
					</tbody>
				</table>
			</details>
		</div>
	</form>
	{% endif %}
</body>
</html>